*{
    margin: 0;
    padding: 0;
}
.item1 {
    grid-area: header;
    
}
.item2 {
    grid-area: menu;

}
.item3 {
    grid-area: main;

}
.item4 {
    grid-area: right;

}
.item5 {
    grid-area: footer;

}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: red;
    padding: 10px;
}

.grid-container > div {
    background-color: yellow;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container1{
    display: grid;
    grid-template-columns: 150px auto auto;
    grid-template-rows: 120px auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: tomato;
    padding: 10px;
    justify-content: space-between;
    /* row column 동시에 쓸수있는방법  grid-gap */
}

.grid-item{
    background-color: thistle;
    border: 1px solid rebeccapurple;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container3 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item11 {
    grid-column: 1 / 5;
}